################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MagicVilla_VillaAPI/bin/
/MagicVilla_VillaAPI/obj/